.yourComponent {
  width: 90%;
  /* border: 1px solid #ccc; */
  border-top: 2px solid #007bff;
  margin: 20px 0;
  overflow: hidden;
  transition: height 0.3s;
}
.horizontalLine {
  height: 2px; 
  background-color: #007bff; 
  margin-bottom: 10px; 
}

.chartContainer {
  width: 100%; 
  overflow-x: auto; 
  white-space: nowrap; 
}

.expanded {
  height: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  /* background-color: #007bff; */
  color: #000;
  padding: 10px;
  align-items: center;
}

.title {
  font-weight: bold;
}

.expandButton {
  background: darkgray;
  /* border: none; */
  color: #000;
  width: 3%;
  /* font-size: 15px; */
  cursor: pointer;
}

.content {
  padding: 10px;
  background-color: #f0f0f0;
}


@media (max-width: 768px) {
  
  .expandButton {    
    width: 35px;
  }
  .yourComponent {
    width: 100%;
   
  }
}
